:root {
    --mainBg: mediumpurple;
}

$light-text: moccasin;

body {
    background-color: var(--mainBg);
    color: $light-text;
}

.boks{
    width: 200px;
    height: 200px;
    background-color: lightskyblue;
    margin-bottom: 1em;
    transition: all 2s ease;
}

.dims{
    transform: translateX(300px);
	opacity: 0;
}

.dims-on{
   transition: transform 2s ease;
    transform: translateX(0px);
}